%nav#home.container_12
  .links_wrapper
    %ul.links.grid_12
      %li
        %a.scroll(href="#about")О нас
      %li
        %a /
      %li
        %a.scroll(href="#works")Проекты
      %li
        %a /
      %li
        %a.scroll(href="#contacts")Контакты
      %li
        %select
          %option ru
          %option es
  %span#logo
%section#about.container_12
  %h1 О нас
%section#works.container_12
  %h1Проекты
%section#contacts.container_12
  %h1 Контакты

%a#toTop(href="#") Top



