!!! 
%html
  %head
    %meta{:charset => "UTF-8"}
    %title flyware
    %link{:rel => "stylesheet", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :href => "/css/grid.css"}
    %link{:rel => "stylesheet", :href => "style.css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:src => "application.js"}
  %body
    = yield