$bg: #9d0000;
$logo-font: #eeb900;
$logoImgUrl: url("images/logo.png");
$topImgUrl: url("images/top.png");

/* default */
html, body {
  background: $bg;
  color: #eee;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 36px;
  overflow: hidden;
}

select { margin-top: 10px; width: 60px; }

/* html 5 */
section, header, footer, aside, nav, article {
  display: block;
}

header {
  color: brown;
  margin-bottom: 10px;
  height: 2000px;
}

nav {
  margin-bottom: 2000px;
}

h1 {
  margin-left: 10%; font-size: 16px;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 500px;
  overflow: hidden;
  z-index: 50;
}

#logo {
  background: $logoImgUrl;
  width: 365px;
  height: 110px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -182px;
  top: 50%;
  margin-top: -55px;
}

#images {
  height: 500px;
  overflow: hidden;
  span {
    display: block;
    width: 246px;
    height: 246px;
    background: #eee;
    float: left;
  };
  span.image_0 {
    background: #eee;
    ul.links  { margin-left: 145px; };
    ul.links a { color: #222; min-width: 150px; };
  };
  span.image_1 { background: #fff; }
  span.image_2 { background: #333; }
  span.image_3 { background: #333; }
  span.image_4 { background: #aaa; }
  span.image_5 { background: #222; }
  span.image_6 { background: #333; }
  span.image_7 { background: #333; }
}

#about {
  height: 1000px;
}

#works {
  height: 1000px;
}

#ceo {
  height: 1000px;
}

#contacts {
  height: 1000px;
}

#about a { font-size: 11px; }

#toTop {
  position: fixed;
  bottom: 48%;
  left: 2%;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 3;
  display: block;
  color: #eee;
  background: $topImgUrl;
  text-indent: -999px;
  opacity: .7;
}

#toTop:hover { opacity: 1; }

a.flags {
  display:block;
  width: 16px;
  height: 11px;
  margin-top: 20px;
 }

a.es_flag { background: url("images/es.png"); };
a.gb_flag { background: url("images/gb.png"); };
a.ru_flag { background: url("images/ru.png"); };

ul.links { display: block; top: 10px; }
ul.links li { float: left; margin-right: 10px; }
ul.links a { font-size: 11px; color: #000;  text-decoration: none; text-transform: uppercase; }
ul.links a:hover { text-decoration: underline; }

.ui-selectmenu { margin-top: 15px; background: black; border: none; height: 23px; }
.ui-selectmenu-menu li a, .ui-selectmenu-status { font-size: 11px; line-height: none; color: #eeb900; text-decoration: none; }
.ui-selectmenu-menu li a:hover { text-decoration: none; }
.ui-selectmenu-menu li a, .ui-selectmenu-status {
  font-size: 11px;
  line-height: none;
}

.links_wrapper { float: right; min-width: 400px;  }
.ui-selectmenu-item-selected { background: black; }
.ui-selectmenu-item {  background: black; }

.ui-selectmenu-menu-dropdown  { background: black; border: none; }
.ui-selectmenu-open { background: black; border: none; }
.ui-selectmenu-item-hover { background: #333; border: none; }
.ui-selectmenu-item:hover { background: #333; border: none; }
.ui-selectmenu-item-focus { background: #333; }
.ui-selectmenu-menu li a:hover { background-image: none; border-color: #000; }

#projects {
  margin-left: 15%;
  .image {
    width: 294px;
    height: 206px;
    background: grey;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background: url("images/test.png");
    overflow: hidden;
    border-radius: 5px;
    .info {
      width: 100%;
      height: 100%;
      background: #345;
      opacity: .5;
      border-radius: 5px;
    };
  }
}
