$bg: #8e000a;
$logo-font: #eeb900;

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}  

body {
  background: $bg;
  color: #eee;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 36px;
}

header {
  color: brown;
  margin-bottom: 10px;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #E00000;
  overflow: hidden;
  z-index: 50;
}

.box {
  min-width: 150px;
  min-height: 150px;
  margin: 0;
}

.red { background: red; }
.blue {background: blue; }
.logo { 
  background: url("images/logo.png"); 
  width: 460px; 
  height: 180px; 
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  margin-top: -90px;
  }
.links { font-size: 11px; }